h2 {
    background-color: #cccccc;
}

#nav {
  /* Appearance */
  background-color: blue;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}